
  .btn-green{
    background-color: #3f8e00;
    box-shadow: 0px 0px 5px 5px #4b9e07;
    transition: 0.5s;
    color: white;
  }

  .btn-green:hover{
    box-shadow: none;
    border: 1px solid #4b9e07;
    color: #3f8e00;
  }